<ion-header>
  <ion-navbar>
    <ion-title>
      BLE Scanner
    </ion-title>
    <!--<ion-buttons end>-->
      <!--<button ion-button block (click)="startScanning()" style="color: #f4f4f4">Scan</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list padding>

    <ion-list-header>
      Devices
    </ion-list-header>
    <ion-item *ngFor="let device of devices" (click)="selectDevice(device);$event.stopPropagation();">
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <p>{{ device.id }}</p>
      <p>RSSI: {{ device.rssi }}</p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <p>{{ statusMessage }}</p>
</ion-footer>
