<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{peripheral.name || 'Unnamed' }}
    </ion-card-header>
    <ion-card-content>
      {{peripheral.id}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Services
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let charateristics of peripheral.charateristics" (click)="openMap(charateristics);$event.stopPropagation();">
        <h5></h5>
        {{charateristics.service}}
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <p>{{ statusMessage }}</p>
</ion-footer>
