page-detail {
  .toolbar-title {
    color : white;
  }

  .toolbar-background {
    background-color: #333;

  }
  p {
    color : #555;
    margin-left: 20px;
  }

  .content {
    background-color: #F2F2F2;
  }
  .label {
    color : #32db64;
  }
}
